<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://wx2.sinaimg.cn/large/6588fa30ly1fdb098m3etj21kw0x6q6p.jpg" alt="image">
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </div>

    <div class="item">
      <img src="http://wx3.sinaimg.cn/large/6588fa30ly1fdb07ql3l1j21kw0x6gvh.jpg" alt="image">
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </div>

    <div class="item">
      <img src="http://wx1.sinaimg.cn/large/6588fa30ly1fdb07xk7gij21kw0x614n.jpg" alt="image">
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container text-center">
  <h3>放下你的瓶啤</h3>
  <p><em>“”感觉自己仿佛是个自由人”</em></p>
  <p></p>
  <p>一杯美好的啤酒应该有柔和亲切的泡沫，唇尖沾上一丁点儿，感觉就像是情人轻轻一啄，在似有似无之间，有如春梦一瞬。</p>

  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>比利时</strong></p><br>
      <a href="products" data-toggle="collapse">
        <img src="http://wx1.sinaimg.cn/large/6588fa30ly1fdb10hyjvcj208c08cjw0.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>Guitarist and Lead Vocalist</p>
        <p>Loves long walks on the beach</p>
        <p>Member since 1988</p>
      </div>
    </div>

    <div class="col-sm-4">
      <p class="text-center"><strong>德国</strong></p><br>
      <a href="products" data-toggle="collapse">
        <img src="http://wx4.sinaimg.cn/large/6588fa30ly1fdb10eol32j208c08cdla.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>Drummer</p>
        <p>Loves drummin'</p>
        <p>Member since 1988</p>
      </div>
    </div>

    <div class="col-sm-4">
      <p class="text-center"><strong>西班牙</strong></p><br>
      <a href="products" data-toggle="collapse">
        <img src="http://wx3.sinaimg.cn/large/6588fa30ly1fdb10g224pj208c08caeh.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p>Bass player</p>
        <p>Loves math</p>
        <p>Member since 2005</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
